<div style="margin-top: -24px; " ng-controller="actsctrl7" >
<div style="background-color:white;margin-left:80px;padding-left:20px;margin-right:80px;">
<h2 id="D1">  Discounts</h2>
<p>&nbsp;&nbsp;Answer the questions below to let us quote the lowest rate.</p>
<p> <b>&nbsp;&nbsp; Do you belong to any of these type of groups?Check all that apply.</b><direct1 style="display:inline"ng-click=popup1()></direct1><span ng-show=var11> Enter </span></p><br>
&nbsp;&nbsp;<input type="checkbox" value="Alumini Associations,College and universities " name="c1" ng-model="c1"> <b> Alumini Associations,College and universities</b><br>
&nbsp;&nbsp;<input type="checkbox" value="Berkshare Hathaway Affiliates " name="c2" ng-model="c2"> <b> Berkshare Hathaway Affiliates</b><br>
&nbsp;&nbsp;<input type="checkbox" value="Business and Professional Organizations " name="c3" ng-model="c3"> <b> Business and Professional Organizations</b><br>
&nbsp;&nbsp;<input type="checkbox" value="Credit Unions " name="c4" ng-model="c4"> <b> Credit Unions</b><br>
&nbsp;&nbsp;<input type="checkbox" value="Fraternities,Sororities " name="c5" ng-model="c5"> <b> Fraternities,Sororities</b><br>
&nbsp;&nbsp;<input type="checkbox" value=" Organizations for Members of the military" name="c6" ng-model="c6"> <b> Organizations for Members of the military</b><br>
&nbsp;&nbsp;<input type="checkbox" value=" Organizations for Education" name="c7" ng-model="c7"> <b> Organizations for Education</b><br>
&nbsp;&nbsp;<input type="checkbox" value=" Others" name="c8" ng-model="c8"> <b> Others</b><br><br>
&nbsp;&nbsp;<div class="jumbotran" style="background-color:blue;margin-left:-20px;"><br>
&nbsp;&nbsp;<p style="color:white;font-size:20px;margin-left:20px;">Save your Quote...</p><br></div>
<h3 style="color:blue">&nbsp;&nbsp; Provide an email address to return to your quote:</h3>
<table style="width:50%;height:80px">
<tr> <td>&nbsp;&nbsp; &nbsp;&nbsp;Email Address: </td><td> <input type="text" name="g1" value="" ng-model="c9"><direct1 style="display:inline" ng-click="popup2()"></direct1><span ng-show=var12> Enter the </span></td></tr>
<tr><td>&nbsp;&nbsp;&nbsp;&nbsp; Phone number:</td><td> <input style="width:40px;"type="text" name="g2" value=" ">-
<input style="width:40px;"type="text" name="g3" value=" ">-
<input style="width:55px;"type="text" name="g4" value=" "><direct1 style="display:inline"ng-click="popup3()"></direct1><span ng-show=var13> Enter in</span></td></tr>

</table>
<br>
<b> By selecting you are accepting our <a href=" " >Terms and conditions</a></b>&nbsp;&nbsp;<input type="radio" name="r6" value=" Yes" ng-model="c10"> Yes 
<input type="radio" name="r7" value="No" ng-model="c11"> No
<br>
<br>
<h2 style="color:cyan"> One click away from the quote</h2><br>
<input type="submit" name="s2" value="Continue" ng-click="sub6()" class="btn btn-primary">
</div>
 <direct style="height:0px;left:748px;position: relative;top: -670px;">
	</direct>
</div>