<div  class="container-fluid" style="padding-left:20px;padding-right:20px;padding-bottom:238px;" ng-controller="actsctrl6">
<br>
<br>
<div style="background-color:white;margin-left:80px;padding-left:20px;margin-right:80px;">
<h2 style=" background-color: lightgreen;color: white; font-size: 20px;height:40px;margin-left: -40px;margin-top: -30px;
    width: 1136px;">Current Insurance Information:</h2><br>
<br><br>
<table style="width:50%"><tr><td>
<b> Years with current insurance company:</b></td><td><br>
<input type="text" name="t2" ng-model="p1" required><direct1 style="display:inline"></direct1><br><br>
<tr><td><b> Bodily Injury Limits: </b></td><td>
<select ng-model="p2" required>
<option value="Less than $25000"> Less than $25000</option>
<option value="$25000-$50000"> $25000-$50000</option>
<option value="$50000-$75000"> $50000-$75000</option>
<option value="$75000-$100000"> $75000-$100000</option>
<option value="$100000-$150000"> $100000-$150000</option>
<option value="$150000-$200000"> $150000-$200000</option>
<option value=" $200000-$250000"> $200000-$250000</option>
<option value="Above than $250000"> Above than $250000</option>





</select>
</td></tr>
</table><br><br>
<a href="#continue5">
<input type="submit" value="Continue" name="s2"  ng-click="sub5()" class="btn btn-primary"></a>
<br><br>
</div>
 <direct style="height:0px;left: 748px;position: relative;top: -200px;">
	</direct>
</div>