<div
  class="container-fluid"
  style="padding-left: 20px; padding-right: 40px; padding-bottom: 202px"
  ng-controller="actsctrl4"
>
  <br /><br />
  <div
    style="
      background-color: white;
      margin-left: 80px;
      padding-left: 20px;
      margin-right: 80px;
    "
  >
    <h2
      style="
        background-color: lightgreen;
        color: white;
        font-size: 20px;
        height: 40px;
        margin-left: -40px;
        margin-top: -30px;
        width: 1120px;
      "
    >
      Driver History Information:
    </h2>
    <b>Has any driver had any?</b>
    <p>> Accidents in last 5 years</p>
    <p>> Tickets in last 5 years</p>
    <p>> DUI in last 5 years</p>
    <p>> Suspensions in last 10 years</p>
    <br /><br />
    <table style="width: 30%">
      <tr>
        <td>If so, select yes to give more details</td>
        <td>
          <input type="radio" name="r4" value="Yes" ng-model="radiohere" /> Yes
          <input type="radio" name="r5" ng-model="radiohere1" value="No" /> No
        </td>
      </tr>
    </table>
    <br />
    <a href="#/continue4">
      <input
        type="submit"
        ng-click="sub4()"
        value="Continue"
        class="btn btn-primary"
        name="t3"
      />
    </a>
    <br /><br />
  </div>
  <direct style="height: 0px; left: 748px; position: relative; top: -250px">
  </direct>
</div>
