<div style="background-color:white" class="container-fluid">
<div class="row" style="width:100%;">
<div ng-controller="act"><br>
<h1 id="A3">Get a Quote</h1>
<p id="A4"> More than just auto insurance</p>
<select id="A5" required>
<option value="Auto" >Auto </option>
<option value="Car">Car </option>
<option value="Bike">Bike </option>
<option value="Truck">Truck </option>
<option value="Bicycle">Bicycle </option>
<option value="Bus">Bus </option>
</select>
 <input  id="A6"  type="text" ng-model="m1" value="ZIP Code" name="t1">
 
    <a href="#/getquote1"><button id="A17" type="submit" name="t2" class="btn btn-primary" > Submit</button></a>

    <img id="A8" src="insurance.jpg"> 
    </div>
    <div  id="Aa1">
    <br> 
 <p> <span class="glyphicon glyphicon-user"></span> &nbsp; &nbsp; &nbsp; &nbsp;Your Policy</p> <br>
 <select>
 <option style="width:130px;"value="Auto"> Auto</option>
 <option value="Car">Car </option>
 <option value="Bike">Bike</option>

 <option value="Truck"> Truck</option>
  <option value="Bicycle"> Bicycle</option>
   <option value="Bicycle"> Bus</option>
 
 </select><br><br>
 <form>
 <input type="text"  value="User Id" name="t1" ng-model="select1"> <br><br>
 <input type="password" value="Password"  name="t2" ng-model="select2"><br><br>
 <input type="checkbox" name="c1"> Remember me  <a href="https://www.geico.com/other/rememberme/" target="_blank">
          <span class="glyphicon glyphicon-question-sign"></span>
        </a><br><br>
        <input style="position:relative; left:200px;" type="submit" value="Login" ng-click="reset()" name="s1" class="btn btn-primary"><br><br>
        <hr>
        <p style="color:white"> > Forget UserID/Password?</p>
         </form>
    </div>
    </div>
    <div id="A9">
    
    <img id="A10" src="keynote_award.jpg">
    <div id="A11">
    
    <h1 id="A12"> GEICO's Mobile App and Site Take #1 Spot </h1>
    <p id="A13"> The <a href="https://www.geico.com/more/geico-community/your-policy/the-geico-app-takes-home-top-honors/ "> GEICO App and site received #1 rankings </a>according to Keynote's 2015 Mobile Insurance Scorecard. 
    Check out what's new with the GEICO App, and download it today.</p>
    </div>
    
    </div>
    <div id="A14">
    <nav> 
    <ul>
   <li> <a style="color: white"; href="https://media.geico.com/legal/privacy_policy.htm"> <p style="color:white"> Privacy</p></a></li>
    <li > <a style="color:white;"href="https://www.geico.com/legal/"><p style="color:white">Legal</p></a></li>
    <li > <a style="color:white;"href="http://careers.geico.com/"><p style="color:white">Careers</p></a></li>
    <li > <a style="color:white;"href="https://www.geico.com/about/contactus/"> <p style="color:white">Contact Us</p></a></li>
    
    <li > <a style="color:white;"href="https://www.geico.com/about/sitemap/"> <p style="color:white">Site Map</p></a></li>
    
    
    </ul>
    
    
    </nav>
    <br>
            
         <br> <br> <br>  <br>  <br> 
         </div>

   </div></div>